version: '3.8'

services:
  app:
    image: luca3008/minihackerthon:latest
    ports:
      - '80:80'
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
